@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-info: #3B82F6;
  --color-light: #F3F4F6;
  --color-dark: #1F2937;
  --color-body-color: #6B7280;
}